{% extends 'base.html.twig'%}

{% block title %}Rechercher un livre{% endblock %}

{% block body %}

<div class="container">
    <h2>Votre recherche</h2>
    <div class="form-group">
        {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(searchForm) }}
            {{ form_row(searchForm.titre, {'label': 'Recherche par titre', 'attr': {'placeholder': 'Veuillez entrer un mot clé...', 'class': 'form-control'}}) }}
            <button class="btn btn-primary">rechercher</button>
        {{ form_end(searchForm) }}
    </div>
    {% if app.request.method == 'POST' %}
  <div class="container mt-3">
    {% if livres | length == 0 %}
      <h5>Aucun résultat pour votre recherche.</h5>
    {% else %}
      <h4>Résultats de votre recherche</h4>
      {% for livre in livres %}
        <div class="card mt-3 py-3 px-3">
          <h4>{{ livre.titre }}</h4>
          <p class="text-justify">
            Ecrit le {{ livre.getDateDeParution() | date('d/m/Y') }} par    {% for a in livre.auteurs %}
            {{ a.getNomPrenom() }}
            {% endfor %} 
             dans le genre 
           
          </p>
          
          <a href="{{ path('show' , {'id':livre.id})}}" class="btn btn-primary">Lire la suite</a>
        </div>
      
      {% endfor %}
    {% endif %}
  </div>
{% endif %}

</div>


{% endblock %}