<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
          <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/icons/download.jpg')  }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/icons/download.jpg')  }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/icons/download.jpg')  }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/icons/download.jpg') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/icons/download.jpg')  }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/icons/download.jpg')  }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ asset('images/icons/download.jpg') }}">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}   {% endblock %}

        
    </head>
    <body  id="tothetop">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="{{ path("home") }}">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse px-3" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
           <a class="dropdown-item" href="{{ path("auteurs") }}"><i class="fas fa-list"></i> Liste des auteurs</a>
          <a class="dropdown-item" href="{{ path("genres") }}"><i class="fas fa-edit"></i> Liste des genres</a>
          </ul>
      
          <div class="dropdown-divider"></div>
          
          
      <a class="dropdown-item" href="{{ path("rechercher") }}"><i class="fas fa-search"></i> Rechercher</a>
      <a href="{{ path("app_login") }}" class="text-white px-2"><i class="fas fa-sign-in-alt"></i> Admin</a>
      
  
    </div>
  </div>
</nav>
 </header>
 
     <div class="container">
    <div class="container ">
      {% block body %}{% endblock %}
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
    <a class="text-white" href="{{ path("home") }}">ROCHDI </a>
    <p class="text-white pt-3 pl-1">| &copy; {{ 'now'|date('Y') }} - Book Store</p>
    <p class="ml-auto pt-3 pr-1"><a class="te
    xt-white" href="#tothetop"><i
          class="fas fa-chevron-circle-up fa-3x"></i></a></p>
  </nav>

  {% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  {% endblock %}
    </body>
</html>
